/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {  
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Walnut Tally Style Sheet */
  
    html, body {
        position: static;
        height: 100%;
        width: 100%; 
/*		background-image: url("/images/walnut-wood.jpg");  */
        background: url("/images/walnut-wood.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
/*		background-repeat: no-repeat;        

        background: rgb(104,32,19); // Old browsers
        background: -moz-linear-gradient(top,  rgba(104,32,19,1) 0%, rgba(139,69,19,1) 100%); // 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,32,19,1)), color-stop(100%,rgba(139,69,19,1))); // Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); // Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); // Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); // IE10+
        background: linear-gradient(to bottom,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); // W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#682013', endColorstr='#8b4513',GradientType=0 ); // IE6-9 
*/        
        padding: 0;
        margin: 0;
    }
    

    .frame {
        position:fixed;
        width:  1000px;
        height: 753px;
        top: 50%;
        left:50%;
        margin-top: -364px;   /* http://stackoverflow.com/questions/2005954/center-element-with-positionfixed */
        margin-left: -500px;  /* BE SURE TO CHANGE margin-top and margin-left IF YOU CHANGE WIDTH AND OR HEIGHT!  MUST BE HALF OF EACH */

	    -moz-border-radius: 10px;
		border-radius: 10px;		
    }
    
    .walnutContainer {
		position: relative;
		margin:0;
		width: 97%;
		height:96%;
		top:  0;
		margin-left: auto;
		margin-right: auto;
        background:#421E13;        
	    -moz-border-radius: 50px;
		border-radius: 50px;
    }
    
    #popUp {
        position: absolute;
        height: 200px;
        width: 500px;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -100px;
    }
    
    #popUp h1 {
        color: gold;
        text-align: center;
    }    
    
    .loginWrapper {
        position: absolute;
        width: 1300px;     /*1300px;*/
        height: 900px;
        margin: -450px 0 0 -650px;
        left: 50%;
        top: 50%;
    }   
  
    .loginBkGnd {
        position: absolute;    
        background: url("/images/WalnutOpener.gif") no-repeat center;
        width: 1100px;
        height: 715px;
        margin: -357px 0 0 -550px;
        left: 50%;
        top: 50%;
    }
    
       .loginBkGndAdm{
        position: absolute;    
        background: url("/images/AdminOpener.gif") no-repeat center;
        width: 1100px;
        height: 715px;
        margin: -357px 0 0 -550px;
        left: 50%;
        top: 50%;
    }

    input.highlight {
        background-color: yellow;
    }
    
    input#submit.go {
        margin: 0.5em;
    }
    
    #popUpLogin {
        position: relative;
        width: 367px;
        height: 238px;
        top: 39%;
        left: -19%;
        margin: 0 auto;
        background-color: transparent;
        color: white;
        border: none;
        padding: 2px;
    }
    
    #popUpImg {
       position: absolute;
       top: 21%;
       left:70%;
       display:none;
    }
  
    #loginError  {
        position:relative;
        text-align: left;
        font-size: 1.2em;
        color: red;
        bottom: 30px;
        left: 30px;
        margin: 10px 10px;
    }
    
    #hintWrapper {
        position: relative;
        left: 52px;
        margin-top: 10px;
    }
    
    .leftImg {
        position: absolute;
        bottom: -15px;
        left: 5px;
        width:300px;
        margin: 0;
        padding:0;
        
    }
    
    #submitWrapper {
        position: absolute;
        left:68px;
        top: 244px;
    }
     
    #submitID {
        margin-left: auto;
        margin-right: auto;
    }
        
	#editHint {
		position: relative;
		width: 300px;
		margin-right: auto;
        margin-left: auto;	
		padding: 5px;
		background-color: transparent;
		color: #EEDC82; /* flax  */
		font-weight:bold;
		font-size: 115%;
		top: 5px;
		font-family:"Times New Roman",Georgia,Serif;
	}
  
    #bDayLink{
        position: absolute;
        bottom: 1%;    
        left: 25em;
    }

    #bDayLink a {
        color: gold;
        font-size: 1.3em;
    }

    .securityLink {
        position: relative;
        left: 25px;
    }
	    
    .securityLink:link {color:#FFFF00;}    /*  unvisited link */
    .securityLink:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    .securityLink:hover {color:#FFFFFF;}   /* white on mouse over link */
    .securityLink:active {color:#FFD700;}  /* yellow on selected link */ 
       
    #hintLink:link {color:#FFFF00;}    /*  unvisited link */
    #hintLink:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    #hintLink:hover {color:#FFFFFF;}   /* white on mouse over link */
    #hintLink:active {color:#FFD700;}  /* yellow on selected link */ 
      
    #hintLink{
        display: none;
    }
      
   #Notes {
        font: normal 18px serif;
    }
        
    #mainMenu {  /* used in listNuts1.html - if user is admin javascript will change display to display:block */
        display: none;
    }
     
    #mainMenu p {
        position: relative;
        width: 25%;
        bottom: -2%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    #mainMenu p a {
        background-color: transparent;
        color: #FFFF00;
        font: normal bold 1.7em "Times New Roman", Georgia, serif;
    }
    
     #mainMenu p a:hover{
         background-color: #FFFF00;
         color:#000;
     }
     
     .content {
        position:relative;
        width:  90%;
        max-height: 500px;
        bottom: 4%;
        margin-left: auto;
        margin-right: auto;
        background: transparent;
		overflow:auto;
/*      padding:10px; -moz-box-shadow:inset 0 0 20px #EEDC82; -webkit-box-shadow:inset 0 0 20px #EEDC82; box-shadow:inset 0 0 20px #EEDC82;        
     
     border-top: 3px double rgba(66, 30, 19, 0.5);
        border-bottom: 3px double rgba(66, 30, 19, 0.5);        
        border-radius: 25px;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;  */
       }
	   
	.col1 {
       float: left;    
	   width:  390px;
       height: 80%;
       margin: 5px;
       padding-left: 1px;
       padding-right: 1px;
    }
    
	.col2 {
       float: left;    
	   width: 390px;
       height:80%;
       margin: 5px;
       padding-left: 1px;
       padding-right: 1px;       
	}
    
	.numNutsDiv {
        position: relative;
        top: 2%;
        height: 4%;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        font: normal normal 24px "Times New Roman", Georgia, Serif;
        color: #EEDC82; /* flax  */
        text-align: center;
    }
        
    .numNuts {      
        color: #FFFF00;        
    }
    
    #replaceRt pre,
    #replaceLt pre {
	   padding: 0;
	   color: white;
	}    
    
		
	.oneNut {
     text-decoration: underline;
     font-weight:bold;
     font-size: 110%;
     font-family:"Times New Roman",Georgia,Serif;
     color:#FFFF00;
     cursor:pointer;
   }

   /* javascript generated class in main line 140 */
	.oneNut:link {color:#FFFF00;}    /*  unvisited link */
    .oneNut:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    .oneNut:hover {color:#FFFFFF;}   /* white on mouse over link */
    .oneNut:active {color:#FFD700;}  /* yellow on selected link */   
	
    .updated 
       {
        color: yellow;
    }
    
	#galore {
		position: relative;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		top: 5%;
	}
	
    .listH1, .listH2
      {
       width:80%;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       color:#EEDC82; /* flax  */
    }
    
    .listH1 {
        font: normal bold 3em "Times New Roman",Georgia,Serif;
    }
    
     .listH2 {
        font: normal bold 1.5em  "Times New Roman",Georgia,Serif;
    }
	   
    #wtHomePage 
      {
        position: relative;
        width: 40%;
        height: 50%;
        top: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: #000;
        background: #FFF;
    }
    
    #WTForm
      {
        position: relative;
        width: 40% ;
        margin-left: auto ;
        margin-right: auto ;
        text-align: left;
    }
    
    span.wtd {
       color: #104E8B;
       font: normal bold 1.1em sans-serif;
       padding-left: 1em;
       padding-bottom: 0.5em;
    }
        
    #response
      {
        font: italic 16px sans-serif;
    }
    
    
    .redText {
        position: relative;
        top: 0px;
        color: red;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        text-align: center;       
    }    
    
    #editNutPage ,
    #addNutPage
      {
        position: relative;
        margin:0;
        width: 96%;
        height:96%;
        top:  -7px;
        left: 15px;
        margin-left: 5px;
        margin-right: 5px;
        background: #800000;  /* dark red  */
    }

    h1, h3
       {
		color:#000000;
    }
    
    #editNutForm,
    #addNutForm
       {
        position: relative;
        width: 100%;
        height: 100%;
    }


    #editNutResponse,
    #addNutResponse  
       {
        position: absolute;
        width: 500px;
        height: 15px;
        margin: 0;
        padding: 5px;
        top: 0px;
        left: 180px;        
        font: italic 800 18px sans-serif;
    } 
   
    #spinner {
        position: absolute;
        display: none;
        background-image: url("/images/ajax-loader.gif");
        width: 32px;
        height: 32px;  
        top: 25%;
        left: 50%;
        background-color: transparent;
    }


    fieldset {
        position: relative;
        height: 78%;
        top: 8px;
        background: #800000; 
        color:#EEDC82;
        padding: 10px;
        border: 0;  
    }
      
 
     #editNutForm ul,
     #addNutForm  ul 
       {
     width: 95%;
     height: 97%;
     border: 0;
     margin: 0.2em auto;
     }

   
    #editNutForm li,
    #addNutForm  li
    {
        text-align: left;
        margin-left: 10px;
        list-style:none;
        float: left;
        clear: left;
        padding: 5px;        
    }


    #editNutForm label,
    #addNutForm  label   
      {
        display: block;
        width: 200px;
        float: left;
        height: 20px;
        text-align: right;
        margin-right: 10px;
        font: bold 16px arial;
    }
    #editNutForm  label.error,
    #addNutForm  label.error {
        display: block;
        float: left;
        color: red;
        height: 20px;
        width: 250px;
        margin-right: 10px;
        margin-left: 10px;        
        font: bold 16px arial;
        text-align: left;
    }
 
    #editNutForm input,
    #addNutForm  input    
      {
        display: block;
        float:left;
        padding: 0;
        height: 20px;
        background-color:white;
        font: normal 18px serif;
        border: 2px inset;
    }
 
  
    #editNutForm #Notes,
    #addNutForm #Notes  
      {
        margin-left:0;
    }
 

    #addNutForm li.navlist,
    #editNutForm li.navlist
     {
        display: inline;
        list-style-type:none;
        margin:0;
        padding:0;
        overflow:hidden;
    }

    #addNutForm  li.navlist input,
    #editNutForm li.navlist input
      {
        position: absolute;
        display: inline;
        bottom: 0px;     
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;
    }

    li.navlist #submit     
       {
      left: 20%;
    }
    
     li.navlist #reset    
       {
      left: 40%;
    }
     li.navlist #home 
       {
      left: 60%;
    }
     li.navlist #again     
       {
      left: 80%;
    }
    
    #addNutForm #submit:hover,
    #addNutForm #reset:hover,
    #addNutForm #home:hover,
    #addNutForm #again:hover
    {
        background-color: brown;
        color: #FFF;
    }

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
