/* Walnut Tally Style Sheet */
   
    .frame {               /* previous settings in comments below */
        position:fixed;   /* relative - IE 7 & 8 require !DOCTYPE for fixed */
        width:  960px;  /* 960px */
        height: 700px;  /* 960px */
        top: 0px;
        margin-right: auto;
        margin-left: auto;
        background: green;
      }
    
     .walnutContainer {
        position: relative;  /* absolute positioned elements are  ignored by other elements - like they don't exist   */
        margin:0;
        width: 96%;    /* 940px */
        height:96%;   /* 940px */
        top:  -12px;
        left: 13px;
        margin-left: 5px;
        margin-right: 5px;
        background: #800000;  /* dark red  */
       }
	   
     .content {
       position:relative;      /* absolute */ 
        width:  85%;           /* 98%, 900px */
        max-height: 500px;       /*height: 750px */
        bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        background: #8B0000;   /* less dark red */
		overflow:auto;
       }
	   
	.col1 {
	/*   position:relative;       absolute */
       float: left;    
	   width:  350px;   /*300px */
       height: 80%;   /* 750px  */
       margin: 5px;
       padding-left: 15px;
 /*    margin-right: 5px;   
       margin-left:  5px;
	   top:   5px;   
	   left: 50px; */
	}
	
	.col2 {
	/*   position:relative;       absolute */
       float: left;    
	   width: 350px;   /*300px */
       height:80%;    /* 750px  */
       margin: 5px;
       padding-left: 15px;
 /*    margin-right: 5px;
       margin-left:  5px;
	   top:    5px;   
	   right: 50px;   */ 
	}
	
	.replaceRt, .replaceLt {
	   padding: 0;
	   color: white;
	}
       
	   
	a.oneNut {text-decoration: none;}
	a.oneNut:link {color:#EEDC82;}    /*  unvisited link */
    a.oneNut:visited {color:#EEDC82;} /* visited link same color for this app as unvisited */
    a.oneNut:hover {color:#FFFFFF;}  /* white on mouse over link */
    a.oneNut:active {color:#FFD700;}  /* yellow on selected link */   
	
    .listH1 {
	   margin: 25px 0;
	   padding-top: 10px;
	   color:#EEDC82; /* flax  */
	   }
	   
	.listH2 {
	   margin: 25px 0;
	   padding-bottom: 10px;
	   color:#EEDC82; /* flax  */
	   }

    #hdr {  
        float: left; 
        width: auto; 
        height: auto; 
    }

    img#ftr { 
        position: absolute;
        left: 600px;
    }

    #wtHomePage {
        width: 700px;
        margin-left: auto ;
        margin-right: auto ;
    }
    #WTForm {
        width: 250px ;
        margin-left: auto ;
        margin-right: auto ;
        text-align: left;
    }
    #response {
        font: italic 16px sans-serif;
    }
     
    	<style type="text/css">
		html, body, #body {
				height: 100%;
				width: 100%;
				padding: 0;
				margin: 0;
			}
		#body {
			display: none;
		}
		ul#navlist { 
			position: relative;
			list-style-type: none;
			}
		ul#navlist li {
			display: inline;
		}		
		ul#navlist li input#submit{
			position: absolute;
			left: 5em;
			width: 8em;
			color: #fff;
			background-color: #036;
			padding: 0.2em 0.2em;
			text-decoration: none;
			border-right: 1px solid #fff
		}		
		ul#navlist li input#reset{
			position: absolute;
			left: 15em;
			width: 8em;
			color: #fff;
			background-color: #036;
			padding: 0.2em 0.2em;
			text-decoration: none;
			border-right: 1px solid #fff
		}
		ul#navlist li input#home{
			position: absolute;
			left: 25em;
			width: 8em;
			color: #fff;
			background-color: #036;
			padding: 0.2em 0.2em;
			text-decoration: none;
			border-right: 1px solid #fff
		}
		ul#navlist li input#submit:hover,
		ul#navlist li input#reset:hover,
		ul#navlist li input#home:hover
		{
			background-color: #369;
			color: #fff;
		}			
		#editNutPage {
		    width: 700px;
			margin-left: auto ;
			margin-right: auto ;
		}
		#editNutPage h1, #editNutPage h3 {
			color: maroon;
		}
	    #editNutForm {	
			text-align: left;
			margin: 0px auto;
			width: 90%;
		}
		#editNutResponse {
			font: italic 16px sans-serif;
		}
            
		fieldset {
			background: #F1F1F1;
			padding: 20px;
			width:	600px;
			border: 1px solid #781351
			}
		fieldset legend {
			color: maroon;
			font: bold 14px arial;
			}
			
		fieldset ul, fieldset li{
<!--		float: left;  -->
			width: 70%;
			clear: left;
			border:0; 
			margin:auto; 
			padding-bottom: 1em; 
			text-align: left;
			list-style:none;
			}
	
		fieldset input{
			float:left;
			}
			
		fieldset label{
			width: 100px;
			float: left;
			text-align: right;
			margin-right: 0.5em;
			font: bold 12px arial;
			display: block
			}		
		input#submit {
			float: left;
			width: 100px;
			margin-left: auto;
			margin-right: auto;						
			}

		input#teser {
			float:right;
			width: 100px;
			margin-left: auto;
			margin-right: auto;						
        }
	     