/* Walnut Tally Style Sheet */
  
    html, body {
        position: static;
        height: 100%;
        width: 100%;       
        background: rgb(104,32,19); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(104,32,19,1) 0%, rgba(139,69,19,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,32,19,1)), color-stop(100%,rgba(139,69,19,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(104,32,19,1) 0%,rgba(139,69,19,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#682013', endColorstr='#8b4513',GradientType=0 ); /* IE6-9 */
        padding: 0;
        margin: 0;
    }
    
    .loginWrapper {
        position: absolute;
        width: 1300px;     /*1300px;*/
        height: 900px;
        margin: -450px 0 0 -650px;
        left: 50%;
        top: 50%;
    }   
  
    .loginBkGnd {
        position: absolute;    
        background: url("/images/WalnutTallyOpener.gif") no-repeat center;
        width: 1100px;
        height: 715px;
        margin: -357px 0 0 -550px;
        left: 50%;
        top: 50%;
    }
    
    #popUpLogin {
        position: relative;
        width: 367px;
        height: 238px;
        top: 32%;
        left: -21%;
        margin: 0 auto;
        background-color: transparent;
        color: white;
        border: none;
        padding: 2px;
    }
    
    #popUpImg {
       position: absolute;
       top: 21%;
       left:70%;
       display:none;
    }
  
    p#loginError  {
        position:relative;
        text-align: left;
        font-size: 1.2em;
        color: red;
        bottom: 30px;
        left: 30px;
        margin: 10px 10px;
    }
    
    #hintWrapper {
        position: relative;
        left: 52px;
        margin-top: 10px;
    }  
    .leftImg {
        position: absolute;
        bottom: -15px;
        left: 5px;
        width:300px;
        margin: 0;
        padding:0;
        
    }
 
    .frame {
        position:fixed;
        width:  1000px;
        height: 728px;
        top: 50%;
        left:50%;
        margin-top: -364px;   /* http://stackoverflow.com/questions/2005954/center-element-with-positionfixed */
        margin-left: -500px;  /* BE SURE TO CHANGE margin-top and margin-left IF YOU CHANGE WIDTH AND OR HEIGHT!  MUST BE HALF OF EACH */
        background:#421E13;
	    -moz-border-radius: 10px;
		border-radius: 10px;		
    }
    
    .walnutContainer {
		position: relative;
		margin:0;
		width: 97%;
		height:96%;
		top:  -10px;
		left: 10px;
		margin-left: 5px;
		margin-right: 5px;
		background-image: url("/images/walnut-wood.jpg");
		background-repeat: no-repeat;
	    -moz-border-radius: 50px;
		border-radius: 50px;
    }
    
    #submitWrapper {
        position: absolute;
        left:68px;
        top: 244px;
    }
     
    #submitID {
        margin-left: auto;
        margin-right: auto;
    }
        
	#editHint {
		position: relative;
		width: 300px;
		margin: 5px 5px;
		padding: 5px;
		background-color: transparent;
		color: #EEDC82; /* flax  */
		font-weight:bold;
		font-size: 115%;
		left: 30%;
		top: -30px;
		font-family:"Times New Roman",Georgia,Serif;
	}
	
    span.gold {
	    color:#FFFF00;
		text-decoration:underline;
	}
    
    a.securityLink {
        position: relative;
        left: 25px;
    }
	    
    a.securityLink:link {color:#FFFF00;}    /*  unvisited link */
    a.securityLink:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    a.securityLink:hover {color:#FFFFFF;}   /* white on mouse over link */
    a.securityLink:active {color:#FFD700;}  /* yellow on selected link */ 
       
    a#hintLink:link {color:#FFFF00;}    /*  unvisited link */
    a#hintLink:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    a#hintLink:hover {color:#FFFFFF;}   /* white on mouse over link */
    a#hintLink:active {color:#FFD700;}  /* yellow on selected link */ 
       
    a#hintLink{
        display: none;
    }
      
    textarea#Notes {
        font: normal 18px serif;
    }
        
    #mainMenu {  /* used in listNuts1.html - if user is admin javascript will change display to display:block */
        display: none;
    }
     
    #mainMenu a {
        position: relative;
        width: 100px;
        margin: 5px 5px;
        padding: 5px;
        background-color: transparent;
        color: #FFFF00;
        font-weight:bold;
        font-size: 110%;
        font-family:"Times New Roman",Georgia,Serif;
    }        
     #mainMenu a:hover{
         background-color: white;
         color:#000;
     }
     
     .content {
        position:relative;
        width:  90%;
        max-height: 500px;
        bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        background: transparent;
		overflow:auto;
       }
	   
	.col1 {
       float: left;    
	   width:  390px;
       height: 80%;
       margin: 5px;
       padding-left: 1px;
       padding-right: 1px;
    }
    
	.col2 {
       float: left;    
	   width: 390px;
       height:80%;
       margin: 5px;
       padding-left: 1px;
       padding-right: 1px;       
	}
	
	p#replaceRt pre,
    p#replaceLt pre {
	   padding: 0;
	   color: white;
	}
 
    form#addNutForm fieldset ul li label.error,
    form#editNutForm fieldset ul li label.error
      {
        display: block;
        float: left;
        color: red;
        height: 20px;
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;        
        font: bold 16px arial;
        text-align: left;
    }
		
	a.oneNut {
      text-decoration: underline;
      font-weight:bold;
      font-size: 110%;
      font-family:"Times New Roman",Georgia,Serif;
      color:#FFFF00;
      cursor:pointer;
    } /* javascript generated class in ajaxWalnutCoreJSON line 140 */
	a.oneNut:link {color:#FFFF00;}    /*  unvisited link */
    a.oneNut:visited {color:#FFFF00;} /* visited link same color for this app as unvisited */
    a.oneNut:hover {color:#FFFFFF;}   /* white on mouse over link */
    a.oneNut:active {color:#FFD700;}  /* yellow on selected link */   
	
    .updated 
      {
        color: yellow;
    }
    
    .listH1
      {
       margin: 25px 0;
       padding-top: 10px;
       color:#EEDC82; /* flax  */
    }
	   
	.listH2
       {
	   margin: 25px 0;
	   padding-bottom: 10px;
	   color:#EEDC82; /* flax  */
	}

    #wtHomePage 
      {
        position: relative;
        width: 700px;
        height: 350px;
        top: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: #000;
        background: #FFF;
    }
    
    #WTForm
      {
        position: relative;
        width: 250px ;
        margin-left: auto ;
        margin-right: auto ;
        text-align: left;
    }
    
    #response
      {
        font: italic 16px sans-serif;
    }
    
    .redText {
        color: red;
        margin: 10px;
    }    
    
    #editNutPage ,
    #addNutPage
      {
        position: relative;
        margin:0;
        width: 96%;
        height:96%;
        top:  -12px;
        left: 13px;
        margin-left: 5px;
        margin-right: 5px;
        background: #800000;  /* dark red  */
    }
    
    #editNutPage h1,
    #editNutPage h3,
    #addNutPage h1,
    #addNutPage h3
      {
        color:#EEDC82; /* flax  */
    }
    
    #editNutForm,
    #addNutForm
      {
        position: relative;
        width: 100%;
        height: 100%;
    }

    span#editNutResponse,
    span#addNutResponse
      {
        position: absolute;
        width: 500px;
        height: 15px;
        margin: 0;
        padding: 5px;
        top: 591px;
        left: 180px;        
        font: italic 800 18px sans-serif;
    } 
   
    #spinner {
        position: absolute;
        display: none;
        background-image: url("/images/ajax-loader.gif");
        width: 32px;
        height: 32px;  
        top: 25%;
        left: 50%;
        background-color: transparent;
    }

    
    fieldset {
        position: relative;
        height: 78%;
        top: -55px;
        background: #800000; 
        color:#EEDC82;
        padding: 10px;
        border: 0;  
    }
       
     form#editNutForm fieldset ul,
     form#addNutForm fieldset ul  
       {
     width: 95%;
     height: 97%;
     border: 0;
     margin: 0.2em auto;
     }
     
    form#editNutForm fieldset ul li,
    form#addNutForm fieldset ul li 
      {
        text-align: left;
        margin-left: 10px;
        list-style:none;
        float: left;
        clear: left;
        padding: 5px;        
    }
      
    form#editNutForm fieldset ul li label,
    form#addNutForm fieldset ul li  label
      {
        display: block;
        width: 200px;
        float: left;
        height: 20px;
        text-align: right;
        margin-right: 10px;
        font: bold 16px arial;
    }
 
    form#editNutForm fieldset ul li input,
    form#addNutForm fieldset ul li input        
      {
        display: block;
        float:left;
        padding: 0;
        height: 20px;
        background-color:white;
        font: normal 18px serif;
        border: 2px inset;
    }
        
    form#editNutForm fieldset ul li textarea#Notes,
    form#addNutForm fieldset ul li textarea#Notes
      {
        margin-left:0;
    }
    
    form#addNutForm fieldset ul#navlist,
    form#editNutForm fieldset ul#navlist
      { 
        position: absolute;
        width: 430px;
        height: 25px;
        margin: 10px;
		top: 533px;
		left: 126px;
        padding: .3em 0;
        text-align: center;
        list-style-type: none;
    }
    
    form#addNutForm fieldset ul#navlist li,
    form#editNutForm fieldset ul#navlist  li
      {
        padding: 0 .5em;
        width: 8em;     
    }
	
    form#addNutForm fieldset ul#navlist li #submit,
    form#editNutForm fieldset ul#navlist li #submit 
      {
        display: inline;
        position: absolute;
        height: 25px;
        left: 1em;
        bottom: 0px;
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;        
    }
  
    form#addNutForm fieldset ul#navlist li #reset,
    form#editNutForm fieldset ul#navlist li #reset
      {
        display: inline;
        position: absolute;
        height: 25px;        
        left: 10em;
        bottom: 0px;        
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }
    
    form#addNutForm fieldset ul#navlist li #home,
    form#editNutForm fieldset ul#navlist li #home  
      {
        display: inline;
        position: absolute;
        height: 25px;        
        left: 18em;
        bottom: 0px;        
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }
    
   form#addNutForm fieldset ul#navlist li #again 
   { 
        display: inline;
        position: absolute;
        height: 25px;        
        left: 29em;
        bottom: 0px;        
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }    
    
    form#addNutForm fieldset ul#navlist li #submit:hover,
    form#addNutForm fieldset ul#navlist li #reset:hover,
    form#addNutForm fieldset ul#navlist li #home:hover,
    form#addNutForm fieldset ul#navlist li #again:hover  
      {
        background-color: brown;
        color: #FFF;
    }
