/* Walnut Tally Style Sheet */
   
    html, body {    
        height: 100%;
        width: 100%; 
        background: transparent;   
        padding: 0;
        margin: 0;
    }
    
    #body{
        background: rgba(139, 0, 0, 0.8);
    }
 
    .frame {               /* previous settings in comments below */
        position:fixed;   /* relative - IE 7 & 8 require !DOCTYPE for fixed */
        width:  960px;  /* 960px */
        height: 700px;  /* 960px */
        top: 50%;
        left:50%;
        margin-top: -350px;   /* http://stackoverflow.com/questions/2005954/center-element-with-positionfixed */
        margin-left: -480px;  /* BE SURE TO CHANGE margin-top and margin-left IF YOU CHANGE WIDTH AND OR HEIGHT!  MUST BE HALF OF EACH */
        background: green;
      }
    
     .walnutContainer {
        position: relative;  /* absolute positioned elements are  ignored by other elements - like they don't exist   */
        margin:0;
        width: 96%;    /* 940px */
        height:96%;   /* 940px */
        top:  -12px;
        left: 13px;
        margin-left: 5px;
        margin-right: 5px;
        background: #800000;  /* dark red  */
       }
       
	 #mainMenu {  /* used in listNuts1.html - if user is admin javascript will change display to display:block */
        display: none;
     }
     
     #mainMenu a {
        position: relative;
        width: 100px;
        margin: 5px 5px;
        padding: 5px;
        background-color: #8B0000;
        color: yellow;
    }        
     #mainMenu a:hover{
         background-color: white;
         color:#000;
     }
     
     .content {
        position:relative;      /* absolute */ 
        width:  85%;           /* 98%, 900px */
        max-height: 500px;       /*height: 750px */
        bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        background: #8B0000;   /* less dark red */
		overflow:auto;
       }
	   
	.col1 {
       float: left;    
	   width:  350px;   /*300px */
       height: 80%;   /* 750px  */
       margin: 5px;
       padding-left: 15px;
    }
    
	.col2 {
       float: left;    
	   width: 350px;   /*300px */
       height:80%;    /* 750px  */
       margin: 5px;
       padding-left: 15px;
	}
	
	.replaceRt, .replaceLt {
	   padding: 0;
	   color: white;
	}
       
	   
	a.oneNut {text-decoration: none;}
	a.oneNut:link {color:#EEDC82;}    /*  unvisited link */
    a.oneNut:visited {color:#EEDC82;} /* visited link same color for this app as unvisited */
    a.oneNut:hover {color:#FFFFFF;}  /* white on mouse over link */
    a.oneNut:active {color:#FFD700;}  /* yellow on selected link */   
	
    .listH1 {
       margin: 25px 0;
       padding-top: 10px;
       color:#EEDC82; /* flax  */
   }
	   
	.listH2 {
	   margin: 25px 0;
	   padding-bottom: 10px;
	   color:#EEDC82; /* flax  */
	}

    #wtHomePage {
        width: 700px;
        margin-left: auto ;
        margin-right: auto ;
    }
    
    #WTForm {
        width: 250px ;
        margin-left: auto ;
        margin-right: auto ;
        text-align: left;
    }
    #response {
        font: italic 16px sans-serif;
    }
    
    #navlist { 
        position: relative;
        padding: .3em 0;
        text-align: center;
        list-style-type: none;
    }
    
    #navlist li {
        padding: 0 .5em;
        width: 8em;     
    }
	
    #navlist li #submit{
        display: inline;
        position: absolute;
        left: 5em;
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }
  
    #navlist li #reset{
        display: inline;
        position: absolute;
        left: 15em;
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }
    
    #navlist li #home{
          display: inline;
        position: absolute;
        left: 25em;
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }
    
    #navlist li #again {
          display: inline;
        position: absolute;
        left: 35em;
        padding: .1em .5em;
        text-decoration: none;
        background-color: #8B0000;
        color: yellow;        
        border: 1px solid;
        border-color: #cec #464 #575 #dfd;         
    }    
    
    #navlist li #submit:hover,
    #navlist li #reset:hover,
    #navlist li #home:hover,
    #navlist li #again:hover
      {
        background-color: brown;
        color: #FFF;
    }
    
    #editNutPage , #addNutPage {
        position: relative;  /* absolute positioned elements are  ignored by other elements - like they don't exist   */
        margin:0;
        width: 96%;    /* 940px */
        height:96%;   /* 940px */
        top:  -12px;
        left: 13px;
        margin-left: 5px;
        margin-right: 5px;
        background: #800000;  /* dark red  */
    }
    
    #editNutPage h1, #editNutPage h3, #addNutPage h1, #addNutPage h3{
        color:#EEDC82; /* flax  */
    }

    #editNutResponse, #addNutResponse {
        font: italic 16px sans-serif;
    }
        
    fieldset {
        background: #800000; 
        color:#EEDC82;
        padding: 20px;
        border: 0;  
    }
       
    fieldset ul, fieldset li{
        width: 95%;
        clear: left;
        border: 0;
        margin: .2em auto;
        test-align: left;
        margin-left: 10px;
        list-style:none;
    }

    fieldset input{
        float:left;
        font: normal 18px serif;
    }
        
    fieldset label{
        width: 150px;
        float: left;
        text-align: right;
        margin-right: 10px;
        font: bold 14px arial;
    }
   
    #Notes {
        margin-left:0;
    }
     