#what to not git...
custom-scrollbar-plugin/
custom-scrollbar-plugin-old/
ignore/
*.bak
css/test*
test*
css/cmx*.css
css/reset.css
css/core.css
css/screen.css
custom-demo.html
*.orig
textarea.html
validate.html
*.txt
*.sql
